.container-datepicker {
    background-image: url(../../assets/snow.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1250px;
    height: 466px;
    margin-left: 30px;
    margin-top: 50px;

}

.container-innerpicker {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.55);
    width: 1026px;
    height: 145px;
}

.sub-innerpicker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left {
    font-family: Oblik;
    font-style: normal;
    font-weight: bold;
    color: #14202B;
    font-size: 24px;
    line-height: 50px;
    opacity: 0.9;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-right: 640px;
    margin-left: -640px;

}

label {
    bottom: 45px;
    left: 60px;
    white-space: nowrap;
    color: white;
    margin-bottom: 10px;
    font-family: Josefin Sans;
    font-size: 20px;
    line-height: 24px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 222px;
    height: 59px;
    border: none;
    border-radius: 10px;
}

.spinner:hover {
    cursor: pointer;
}

.date-picker {
    border: none;
    width: 222px;
    height: 59px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    border-radius: 10px;
}

.search-btn {
    width: 158px;
    height: 59px;
    background-color: #073762;
    color: white;
    border: none;
    margin: 18px 0px 0px 0px ;
    border-radius: 10px;
    font-family: Josefin Sans;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.search-btn:hover {
    cursor: pointer;
}

.space {
    width: 25px;
}